extends ../shared/template

block content

  #headerOutline

  #social
    .facebook
    .twitter
    .inst
    .soundcloud
    .youtube
    .mailinglist

  #phase2
    <iframe width="1280" height="720" src="//www.youtube.com/embed/FV6lZNpTr08" frameborder="0" allowfullscreen></iframe>

  #phase3
    #showTextBox
      #showText
        h2 Upcoming Shows
        p The Basement
        p 1604 8th Ave S #330, Nashville, TN 37203
        p June, 8 2014
        p 8:30pm

    #map

    #pastShowTextBox
      #pastShowText
        h2 Past Shows


    #pastShowImages


  footer
